body {
	text-shadow: none;
	color: #7f8c8d;
}

p {
	font-family: 'museo-sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

h1, h2, h3, h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.promobox {
	border: none;
	padding: 15px;
	box-shadow: none;
}

.anim-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 15% 0;
	background-color: #128abc;
}

.wrap {
	position: relative;
	width: 100%;
}

.wrap section {
	margin-top: 48px;
	margin-bottom: 48px;
}

.slide {
	width:100%;
	position: relative;
	background: #128abc url(../images/cloud-bg.png) right center no-repeat fixed;
	-webkit-animation: slide 60s linear infinite;
}

@-webkit-keyframes slide {
	from{
		background-position-y:600%;
	}
	to{
		background-position-y:-400%;
	}
}

.slide h2 {
	font-size: 3.75rem;
	color: #34495e;
	line-height: 5.625rem;
	color: #fff;
	padding-top: 15%;
}


.slide p {
	font-size: 1.12rem;
	font-family: 'open sans';
	color: #fff;
	line-height: 1.68rem;
	min-height: 1.68rem;
	letter-spacing: 0.7px;
}

.slide p strong {
	font-weight: bold;
	font-size: 1.12rem;
}


.slide h1.pnf404 {
	padding: 1rem 0;
	color: #fff;
	margin-bottom: 0;
}

.slide h2.pnf404 {
	padding: 0;
	font-size: 2.25rem;
	font-weight: normal;
}

.slide .blox {
	width: 300px;
	padding: 16px;
	color: #627886;
	background-color: transparent;
	text-shadow: none;
	margin: 0 auto;
	margin-bottom: 36px;
	text-align: center;
}


#features h4 {
	color: #384852;
	margin-top: 16px;
}

h1 + p {
	color: #999;
}

.icon {
	background-color: #fff;
	height: 120px;
	width: 120px;
	border-radius: 120px;
	margin: 0 auto;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.icon img {
	width: 48px;
	margin: 28% auto;
	opacity: 0.9;
}

.icon:hover{
	box-shadow: 0 120px 120px #fff;
	background-color: transparent;
	transition: all ease 0.8s;
	box-sizing: border-box;
}

.icon:before:hover{
	content: "";
	background-color: blue;
	height: 80px;
	width: 80px;
	border-radius: 80px;
	box-sizing: border-box;
	margin-left: -80px;
	float: left;

}

.slide .blox h4 {
	margin-bottom: 12px;
	font-weight: normal;
}

.slide .blox p, .slide .blox strong {
	font-size: 1em;
}


.slide .blox .get {
	text-align: center;
	background-color: #f1c40f;
	padding: 8px 106px;
	margin-bottom: 18px;
	border-radius: 3px;
	color: #fff;
	font-size: 1.2em;
}

.slide .blox .get:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	transition: all 0.8s;
}

.slide .blox input {
	width: 93%;
	display: block;
	margin: 18px auto;
}


.promobox.features {
	overflow: hidden;
}


.promobox.our-team{
	background: transparent url(../images/bgs/comput-bg.png) center center no-repeat;
	background-size: cover;
}
.promobox.our-team h4{
	text-align: left
}


.promobox.our-team h4 + p {
	text-align: justify;
	line-height: 1.5em;
	padding: 0;
	color: #505c64;
}

.promobox .feature-list, .promobox .team, .promobox .contact {
	color: #666e74;
	overflow: hidden;
}

.promobox .team, .promobox .contact {
	background-color: #fff;
	margin: 1.5em 0;
	padding: 15px;
	border-radius: 6px;
}

.promobox .team {
	text-align: justify;
}

.promobox .feature-list h3, .promobox .team h3, .promobox .contact h3 {
	color: #666e74;
	font-weight: 700;
	margin-bottom: 0.5em;
	text-align: center;
}

.promobox .team li, .promobox .contact li {
	float: left;
	margin: 1em 0 0 0;
	clear: both;
}

ul.cloud li, li.cloud {
	background: url(../images/li-cloud.png) no-repeat left 8px;
}

.promobox .steps {
	float: right;
}


.promobox .steps .rounded {
	counter-reset: li;
}

.promobox .steps .rounded li{
	position: relative;
	display: block;
	padding: .5em .5em .5em 2em;
	*padding: .4em;
	margin: .5em 0;
	text-decoration: none;
	border-radius: .3em;
	font-size: 1.2em;
	line-height: 1.8em;
	color: #666e74;
}

.promobox .steps .rounded li:before{
	content: counter(li, decimal);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #f1c40f;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	color: #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}

.promobox .video {
	opacity: 0.5;
}

.promobox .feature-list li, .promobox .contact li{
	font-size: 1.2em;
	line-height: 1.8em;
	float: left;
	clear: both;
}


.contact li:before, .feature-list li:before {
	content: "";
	width: 16px;
	height: 16px;
	margin-bottom: 1em;
	display: block;
	margin-right: 16px;
	float: left;
	margin-top: 0.4em;
}

.contact li.adresse:before {
	background: transparent url(../images/social_address.png) center top no-repeat;
	width: 20px;
}

.contact li.tel:before {
	background: transparent url(../images/social_phone.png) center top no-repeat;
	width: 20px;
}

.contact li.email:before{
	background: transparent url(../images/social_mail.png) center top no-repeat;
	width: 20px;
}

.contact li.blog:before{
	background: transparent url(../images/social_blogger.png) center top no-repeat;
	width: 20px;
}

.contact .hidden {
	display: block;
	text-indent: -200px;
	float: left;
}


/* Header
================================================== */

header {  
	left: 0; 
	margin: 0 auto;  
	position: relative; 
	top: 0;
	width: 100%;
}

.header .social {
	float: right;
}

.branding .name small {
	font-weight: 300;
}


.branding .logo {
	height: 40px;
	width: 73px;
	margin: 0 8px auto ;
}

.branding .name {
	font-size: 1.5rem;
	font-weight: bold;
	color: #505c64;
	line-height: 0;
}

.branding .name small {
	font-weight: 300;
}

.branding .slogan1 {
	font-size: 1rem;
	margin-left: 15px;
	letter-spacing: 1px;
	margin-bottom: 24px;
}

.magic-link {
	clear: both;
	background: none repeat scroll 0% 0% #95a5a6;
	padding: 20px 0 1px 20px;
	border-radius: 4px;
}

.magic-link input {
	width: 260px;
	min-height: 40px;
	border-radius: 4px;
}

.magic-link a.get {
	width: 260px;
}

.testimonial2 {
	border-radius: 0 21px 21px 0;
	margin-top: 150px;
}

.testimonial2 p {
	letter-spacing: 1px;
}

.testimonial2 a {
	font-family: 'open sans', sans-serif;
}

figcaption {
	padding-left: 45px;
}

h4 {
	color: #1b95cd;
	letter-spacing: 1px;
}

.intro {
	margin-bottom: 48px;
}

footer .footbot {
	height: 48px;
	overflow: hidden;
	text-align: left;
}

footer .footbot img {
	position: relative;
	margin: 0 15px 0 0;
	opacity: 1;
}

.footer-navi{
	text-transform: none;
	font-size: 1em;
}

.footer-navi a {
	color: #1b95cd;
}

.footer-navi a:hover {
	color: #f1c40f;
}

footer .logo-footer{
	height: 36px;
}

footer .subscribe input, footer .subscribe label, footer .subscribe .get{
	float: left;
	margin-right: 15px;
}

footer .subscribe .get {
	text-align: center;
	background-color: #f1c40f;
	padding: 7px 90px;
	margin-bottom: 18px;
	border-radius: 3px;
	color: #fff;
	font-size: 1em;
}

footer .subscribe .get:hover{
	background-color: #f39c12;
}

footer .subscribe label {
	padding: 6px 0;
}


input[type="email"]{
	border-radius: 3px;
	font-family: 'open-sans', sans-serif;
}

input[type="email"]:focus {
	opacity: 0.95;
	outline-color: transparent;
	border-color: transparent; 
	box-shadow: none;
	background-color: #eee;
}

.shadow {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#team img{
	border-radius: 6px;
}